{% extends 'base.html' %}
{% load static %}
{% block title %} Symptoms and Cause of Diabetes | Type2Beat {% endblock title %} 
{% block header %}
<header>
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-5 mb-3 h1">Symptoms and Cause of Diabetes</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}" class="t2b-breadcrumb-a">Home</a>
            </li>
            <!-- <li class="breadcrumb-item">
              <a href="{% url 'prevention' %}" class="t2b-breadcrumb-a">Prevention</a>
            </li> -->
            <li class="breadcrumb-item active">Symptoms and Cause of Diabetes</li>
        </ol>

        <!-- Image Header -->
        <img class="img-fluid rounded mb-4" src="{% static 'images/introdiabetes.jpg' %}" alt="">
    </div>

    <div class="container t2b-bg-light p-3">
          <h1 class="t2b-h1 " >Symptoms</h1>

          <div class ="row">
            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header">
                  <i class="fad fa-disease"></i>
                  </i> &nbsp &nbsp Type 1 Diabetes</h4>
                <div class="card-body">
                  <div class ="row">
                    <div class ="col-md-6">
                      <div class ="rounded-circle">
                        <img class="rounded-circle img-fluid" src="{% static 'images/symptoms1.svg' %}" alt="" />
                      </div>
                    </div>
                    <div class ="col-md-6">
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Excessive Thirst</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Frequent Urination</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Excessive Hunger</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Unexplained Weakness and Fatigue</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Unexplained Weight Loss</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Blurred Vision</h5>
                    </div>
                  </div>
                  <br>
                  <div class ="row">
                    <div class ="col-md-6">
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Having Cuts that Heal Slowly</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Itching and Skin Infections</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Headache</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Dizziness</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Leg Cramps</h5>
                    </div>
                    <div class ="col-md-6">
                      <div class ="rounded-circle">
                        <img class="rounded-circle img-fluid" src="{% static 'images/symptoms2.svg' %}" alt="" />
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>

            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header">
                  <i class="fad fa-disease"></i>
                  </i> &nbsp &nbsp Type 2 Diabetes</h4>
                <div class="card-body">
                  <div class ="row">
                    <div class ="col-md-6">
                      <div class ="rounded-circle">
                        <img class="rounded-circle img-fluid" src="{% static 'images/symptoms4.svg' %}" alt="" />
                      </div>
                    </div>
                    <div class ="col-md-6">
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Blurred vision</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Tiredness</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Urinating more frequently</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Feeling thirsty all the time</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Numbness and tingling in the feet or legs</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Recurrent infections</h5>
                    </div>
                  </div>
                  <br>
                  <div class ="row">
                    <div class ="col-md-6">
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Always feeling hungryy</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Having cuts that heal slowly</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Itching, skin infections</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Dizziness</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Gradually putting on weight</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Headaches</h5>
                      <h5><i class="fas fa-chevron-circle-right"></i> &nbsp &nbsp Leg cramps</h5>
                    </div>
                    <div class ="col-md-6">
                      <div class ="rounded-circle">
                        <img class="rounded-circle img-fluid" src="{% static 'images/symptoms3.svg' %}" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>

    <br>
    <!-- <div class="container t2b-bg-light p-3"> -->
      <div class="container t2b-bg-light p-3">
        <div class="row justify-content-center pt-3 pd-3 mt-4">
          <h1 class="t2b-h1 " >Cause of Diabetes</h1>
        </div>
        <hr>
        <div class="row justify-content-center pt-3 pd-3 mt-4">
          <h3 class="h3 t2b-text-secondary" >Type 1 Diabetes</h3>
        </div>
        <div class="row mt-4">
          <div class="col-md-4 t2b-bg-light p-3 t2b-center">
            <img class="rounded-image img-fluid" src="{% static 'images/virus.svg' %}" alt="" />
            <h1 class="h4">Viral or bacterial infection</h1>
          </div>
          <div class="col-md-4 t2b-bg-light p-3 t2b-center">
            <img class="rounded-image img-fluid" src="{% static 'images/biology.svg' %}" alt="" />
            <h1 class="h4">Chemical toxins within food</h1>
          </div>
          <div class="col-md-4 t2b-bg-light p-3 t2b-center">
            <img class="rounded-image img-fluid" src="{% static 'images/dna.svg' %}" alt="" />
            <h1 class="h4">Underlying genetic disposition</h1>
          </div>
        </div>
        <hr>
        <div class="row justify-content-center pt-3 pd-3 mt-4">
          <h3 class="h3 t2b-text-secondary" >Type 2 Diabetes</h3>
        </div>
        <div class="row mt-4">

          <div class="col-md-3 t2b-bg-light p-3 t2b-center">
            <img class="rounded-image img-fluid" src="{% static 'images/obesity.svg' %}" alt="" />
            <h1 class="h4">Obesity</h1>
          </div>
          <div class="col-md-3 t2b-bg-light p-3 t2b-center">
            <img class="rounded-image img-fluid" src="{% static 'images/side-view.svg' %}" alt="" />
            <h1 class="h4">Living a sedentary lifestyle</h1>
          </div>
          <div class="col-md-3 t2b-bg-light p-3 t2b-center">
            <img class="rounded-image img-fluid" src="{% static 'images/seniorpeople.svg' %}" alt="" />
            <h1 class="h4">Increasing age</h1>
          </div>
          <div class="col-md-3 t2b-bg-light p-3 t2b-center">
            <img class="rounded-image img-fluid" src="{% static 'images/fastfood.svg' %}" alt="" />
            <h1 class="h4">Bad diet</h1>
          </div>
        </div>
      </div>
      <br>

    <!-- </div> -->
</header>
{% endblock header %}

{% block main %}
<main>
  <br>
    <div class="container-fluid t2b-section-2">

        <div class="row">
          <div class="container">
            <!-- <h4 class="my-4 t2b-h1">HOW WE CAN HELP YOU</h4> -->
            <h4><strong>Read This Next</strong></h4>
            <div class="row t2b-container">

              <div class="col-lg-3 t2b-section-service-1 opp-1">
                <div class="t2b-section-service-1-inner" style="background: url('{% static 'images/foodforlink.jpg' %}')">
                  <h2>Eat Health Food</h2>
                  <hr class="hr-white">
                  <br>
                  <br>
                  <br>
                  <a href="{% url 'healthy_diets' %}" class="btn btn-primary t2b-btn-2">EXPLORE MORE</a>
                  <hr>
                </div>
              </div>

              <div class="col-lg-3 t2b-section-service-1 opp-1">
                <div class="t2b-section-service-1-inner" style="background: url('{% static 'images/Avoidforlink.jpg' %}')">
                  <h2>Avoid Fasting</h2>
                  <hr class="hr-white">
                  <br>
                  <br>
                  <br>
                  <a href="{% url 'fast' %}" class="btn btn-primary t2b-btn-2">EXPLORE MORE</a>
                </div>
              </div>

              <div class="col-lg-3 t2b-section-service-1 opp-1">
                <div class="t2b-section-service-1-inner" style="background: url('{% static 'images/waterforlink.jpg' %}')">
                  <h2>Water & Diabetes</h2>
                  <hr class="hr-white">
                  <br>
                  <br>
                  <br>
                  <a href="{% url 'water' %}" class="btn btn-primary t2b-btn-2">EXPLORE MORE</a>
                </div>
              </div>

              <div class="col-lg-3 t2b-section-service-1 opp-1">
                <div class="t2b-section-service-1-inner" style="background: url('{% static 'images/runforlink.jpg' %}')">
                  <h2>Exercise Regularly</h2>
                  <hr class="hr-white">
                  <br>
                  <br>
                  <br>
                  <a href="{% url 'exercises' %}" class="btn btn-primary t2b-btn-2">EXPLORE MORE</a>
                </div>
              </div>

              <hr class="hr-white">
            </div>
          </div>
        </div>
      </div>
  </main>
  {% endblock main %}
