{% extends 'base.html' %}
{% load static %}
{% block title %} How diabetes effects your eyes | Type2beat {% endblock title %} 
{% block header %}
<header>
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-5 mb-3 h1">How Diabetes Effects the Eyes</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}" class="t2b-breadcrumb-a">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href = "{% url 'impact'%}" class="t2b-breadcrumb-a">Effect of Diabetes</a>
            <li class="breadcrumb-item active">Diabetes and Eyes</li>
        </ol>

        <!-- Image Header -->
        <img class="img-fluid rounded mb-4" src="{% static 'images/negative.jpg' %}" alt="">
    </div>

    <div class = "container t2b-bg-light p-3">
      <div class="row p-3">
        <div class ="col-lg-6">
          <h4 class="t2b-font-serif font-weight-bold">What is diabetic retinopathy?</h4>
          <p class ="lead text-justify">
            Diabetic retinopathy is an eye condition that can cause vision loss and blindness in people who have diabetes. It affects blood vessels in the retina (the light-sensitive layer of tissue in the back of your eye).
          </p>
          <p class ="lead text-justify">
            If you have diabetes, it’s important for you to get a comprehensive dilated eye exam at least once a year. Diabetic retinopathy may not have any symptoms at first — but finding it early can help you take steps to protect your vision.
          </p>
        </div>

        <div class ="col-lg-6">
          <div class ="text-center">
            <img class="img-fluid rounded mb-4" src="{% static 'images/effectEyes.jpg' %}" alt="">
          </div>
        </div>
        <div class = "col-lg-12">
          <p class ="lead text-justify">
            Managing your diabetes — by staying physically active, eating healthy, and taking your medicine — can also help you prevent or delay vision loss.
          </p>
        </div>
      </div>
    </div>
    <br>

    <div class ="container t2b-bg-light p-3">
      <div class ="row p-3">
        <div class = "col-lg-12">
          <img class="img-fluid rounded mb-4" src="{% static 'images/wenhao.jpg' %}" alt="">
        </div>
      </div>

      <div class ="col-lg-12">
        <h4 class="t2b-font-serif font-weight-bold">What are the symptoms of diabetic retinopathy?</h4>
        <p class ="lead text-justify">
          The early stages of diabetic retinopathy usually don’t have any symptoms. Some people notice changes in their vision, like trouble, reading or seeing faraway objects. These changes may come and go.
        </p>
        <p class ="lead text-justify">
          In later stages of the disease, blood vessels in the retina start to bleed into the vitreous (gel-like fluid in the center of the eye). If this happens, you may see dark, floating spots or streaks that look like cobwebs. Sometimes, the spots clear up on their own — but it’s important to get treatment right away. Without treatment, the bleeding can happen again, get worse, or cause scarring.
        </p>
      </div>

      <div class ="row p-3">
        <div class ="col-lg-4">
          <h4 class="t2b-font-serif font-weight-bold">Am I at risk for diabetic retinopathy?</h4>
          <p class ="lead text-justify">
            Anyone with any kind of diabetes can get diabetic retinopathy — including people with type 1, type 2, and gestational diabetes (diabetes that can develop during pregnancy).
          </p>
          <p class ="lead text-justify">
            Your risk increases the longer you have diabetes. More than 2 in 5 Americans with diabetes have some stage of diabetic retinopathy. The good news is that you can lower your risk of developing diabetic retinopathy by controlling your diabetes.
          </p>
          <p class ="lead text-justify">
            Women with diabetes who become pregnant — or women who develop gestational diabetes — are at high risk of getting diabetic retinopathy. If you have diabetes and are pregnant, have a comprehensive dilated eye exam as soon as possible. Ask your doctor if you’ll need additional eye exams during your pregnancy.
          </p>
        </div>

        <div class ="col-lg-4">
          <h4 class="t2b-font-serif font-weight-bold">What causes diabetic retinopathy?</h4>
          <p class ="lead text-justify">
            Diabetic retinopathy is caused by high blood sugar due to diabetes. Over time, having too much sugar in your blood can damage your retina — the part of your eye that detects light and sends signals to your brain through a nerve in the back of your eye (optic nerve).
          </p>
          <p class ="lead text-justify">
            Diabetes damages blood vessels all over the body. The damage to your eyes starts when sugar blocks the tiny blood vessels that go to your retina, causing them to leak fluid or bleed. To make up for these blocked blood vessels, your eyes then grow new blood vessels that don’t work well. These new blood vessels can leak or bleed easily.
          </p>
        </div>

        <div class ="col-lg-4">
          <h4 class="t2b-font-serif font-weight-bold">How will my eye doctor check for diabetic retinopathy?</h4>
          <p class ="lead text-justify">
            Eye doctors can check for diabetic retinopathy as part of a dilated eye exam. The exam is simple and painless — your doctor will give you some eye drops to dilate (widen) your pupil and then check your eyes for diabetic retinopathy and other eye problems.
          </p>
          <p class ="lead text-justify">
            If you have diabetes, it’s very important to get regular eye exams. If you do develop diabetic retinopathy, early treatment can stop the damage and prevent blindness.
          </p>
          <p class ="lead text-justify">
            If your eye doctor thinks you may have severe diabetic retinopathy or DME, they may do a test called a fluorescein angiogram. This test lets the doctor see pictures of the blood vessels in your retina.
          </p>
        </div>
      </div>

      <div class ="row p-3">
        <div class ="col-lg-12">
          <h4 class="t2b-font-serif font-weight-bold">What can I do to prevent diabetic retinopathy?</h4>
          <p class ="lead text-justify">
            Managing your diabetes is the best way to lower your risk of diabetic retinopathy. That means keeping your blood sugar levels as close to normal as possible. You can do this by getting regular physical activity, eating healthy, and carefully following your doctor’s instructions for your insulin or other diabetes medicines.
          </p>
        </div>
      </div>
    </div>

    <br>

</header>
{% endblock header %}

{% block main %}
<main>
    <div class="container-fluid t2b-section-2">
      <div class="row">
        <div class="container">
          <div class="row p-3">
            <h3 class="t2b-font-serif">Read This Next</h3>
          </div>

          <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">
                    <i class="fad fa-heartbeat"></i>
                    </i> &nbsp &nbsp Diabetes and Heart</h4>
                  <div class="card-body">
                    <img class="img-fluid rounded mb-4" src="{% static 'images/effectHeart.jpg' %}" alt="">
                    <a href="{% url 'heart' %}" class="btn btn-primary t2b-btn-1 btn-md">Learn More</a>
                  </div>
                </div>
              </div>


            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">
                    <i class="fad fa-kidneys"></i>
                    </i> &nbsp &nbsp Diabetes & Kidney</h4>
                  <div class="card-body">
                    <img class="img-fluid rounded mb-4" src="{% static 'images/effectkidney.jpg' %}" alt="">
                    <a href="{% url 'kidney' %}" class="btn btn-primary t2b-btn-1 btn-md">Learn More</a>
                  </div>
                </div>
            </div>


            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">
                        <i class="fad fa-spider-web"></i>
                        </i> &nbsp &nbsp Diabetes & Nerves</h4>
                    <div class="card-body">
                        <img class="img-fluid rounded mb-4" src="{% static 'images/EffectNerves.jpg' %}" alt="">
                        <a href="{% url 'nerves' %}" class="btn btn-primary t2b-btn-1 btn-md">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
              <div class="card h-100">
                <h4 class="card-header">
                    <i class="fad fa-stomach"></i>
                    </i> &nbsp &nbsp Effect of Diabetes on Digestion</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/effectdigestion.jpg' %}" alt="">
                  <a href="{% url 'digestion' %}" class="btn btn-primary t2b-btn-1 btn-md">Learn More</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">
                    <i class="fad fa-notes-medical"></i>
                    </i> &nbsp &nbsp Effect of Diabetes on the Skin</h4>
                  <div class="card-body">
                    <img class="img-fluid rounded mb-4" src="{% static 'images/effectskin.jpg' %}" alt="">
                    <a href="{% url 'skin' %}" class="btn btn-primary t2b-btn-1 btn-md">Learn More</a>
                  </div>
                </div>
            </div>

        </div>
    </div>
</main>
{% endblock main %}
