{% extends 'base.html' %}
{% load static %}
{% block title %} Negative effect of diabetes on body | Type2Beat {% endblock title %} 
{% block header %}
<header>
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-5 mb-3 h1">Negative effect of diabetes on body</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}" class="t2b-breadcrumb-a">Home</a>
            </li>
            <li class="breadcrumb-item active">Effect of Diabetes</li>
        </ol>

        <!-- Image Header -->
        <img class="img-fluid rounded mb-4" src="{% static 'images/negative.jpg' %}" alt="">
    </div>

    <div class = "container">
      <p class ="lead">Diabetes can cause long term damage to our body, the long term damage is commonly referred to as diabetic complication. Diabetes affects our blood vessels and nerves and therefore can affect any part of the body. However, certain parts of our body are affected more than other parts.  </p>
    </div>
</header>
{% endblock header %}

{% block main %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header">
                  <i class="fad fa-heartbeat"></i>
                  </i> &nbsp &nbsp Diabetes and Heart</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/effectHeart.jpg' %}" alt="">
                  <a href="{% url 'heart' %}" class="btn btn-primary t2b-btn-1 btn-md">Learn More</a>
                </div>
              </div>
            </div>


            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header">
                    <i class="fad fa-eye"></i>
                    </i> &nbsp &nbsp Diabetes and Eyes</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/effectEyes.jpg' %}" alt="">
                  <a href="{% url 'eyes' %}" class="btn btn-primary t2b-btn-1 btn-md">Learn More</a>
                </div>
              </div>
            </div>


            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">
                    <i class="fad fa-kidneys"></i>
                    </i> &nbsp &nbsp Effect of Diabetes on the Kidneys</h4>
                  <div class="card-body">
                    <img class="img-fluid rounded mb-4" src="{% static 'images/effectkidney.jpg' %}" alt="">
                    <a href="{% url 'kidney' %}" class="btn btn-primary t2b-btn-1 btn-md">Learn More</a>
                  </div>
                </div>
            </div>


            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">
                        <i class="fad fa-spider-web"></i>
                        </i> &nbsp &nbsp Effect of Diabetes on the Nerves</h4>
                    <div class="card-body">
                        <img class="img-fluid rounded mb-4" src="{% static 'images/EffectNerves.jpg' %}" alt="">
                        <a href="{% url 'nerves' %}" class="btn btn-primary t2b-btn-1 btn-md">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header">
                    <i class="fad fa-stomach"></i>
                    </i> &nbsp &nbsp Effect of Diabetes on Digestion</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/effectdigestion.jpg' %}" alt="">
                  <a href="{% url 'digestion' %}" class="btn btn-primary t2b-btn-1 btn-md">Learn More</a>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">
                    <i class="fad fa-notes-medical"></i>
                    </i> &nbsp &nbsp Effect of Diabetes on the Skin</h4>
                  <div class="card-body">
                    <img class="img-fluid rounded mb-4" src="{% static 'images/effectskin.jpg' %}" alt="">
                    <a href="{% url 'skin' %}" class="btn btn-primary t2b-btn-1 btn-md">Learn More</a>
                  </div>
                </div>
            </div>

        </div>
          <!-- /.row -->
    </div>
</main>
{% endblock main %}
