{% extends 'base.html' %}
{% load static %}
{% block title %} Prevention | Type2Beat {% endblock title %} 
{% block header %}
<header>
  <script src="https://kit.fontawesome.com/c90a5212ef.js" crossorigin="anonymous"></script>
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-5 mb-3 h1">What you should do to prevent diabetes</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}" class="t2b-breadcrumb-a">Home</a>
            </li>
            <li class="breadcrumb-item active">Prevention</li>
        </ol>

        <!-- Image Header -->
        <img class="img-fluid rounded mb-4" src="{% static 'images/preventglucosemeter.jpg' %}" alt="">
    </div>
</header>
{% endblock header %}

{% block main %}
<main>
    <div class="container">
      <p class ="lead text-body">According to Diabetes Australia, the prevention program can help prevent diabetes( <a href="{% url 'diabetes' %}" class="carousel-hyperlink-page"> <strong>Learn More</strong></a> about different types of diabetes) in up to 58% of cases. There are many things you can do to reduce the risk, check our tips below.</p>
      <br>
        <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header">
                  <i class="fad fa-utensils"></i>
                  </i> &nbsp &nbsp Eat Health Food</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/Eating.jpg' %}" alt="">
                  <a href="{% url 'healthy_diets' %}" class="btn btn-primary t2b-btn-1 btn-md">LEARN MORE</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header">
                  <i class="fad fa-glass"></i>
                  </i> &nbsp &nbsp Drink Enough Water</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/Drinking.jpg' %}" alt="">
                  <a href="{% url 'water' %}" class="btn btn-primary t2b-btn-1 btn-md">LEARN MORE</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header">
                  <i class="fad fa-dumbbell"></i>
                  </i> &nbsp &nbsp Exercise Regularly</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/Walking.jpg' %}" alt="">
                  <a href="{% url 'exercises' %}" class="btn btn-primary t2b-btn-1 btn-md">LEARN MORE</a>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-4">
              <div class="card h-100">
                <h4 class="card-header" >
                  <i class="fad fa-angle-double-right"></i>
                  </i> &nbsp &nbsp Avoid Fasting</h4>
                <div class="card-body">
                  <img class="img-fluid rounded mb-4" src="{% static 'images/AvoidTooFast.jpg' %}" alt="">
                  <a href="{% url 'fast' %}" class="btn btn-primary t2b-btn-1 btn-md">LEARN MORE</a>
                </div>
              </div>
            </div>
        </div>
          <!-- /.row -->
    </div>
</main>
{% endblock main %}
