{% extends 'base.html' %}
{% load static %}
{% block title %} Privacy Policy | Type2Beat{% endblock title %} 
{% block header %}
<header>
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-5 mb-3 h1">Privacy Policy</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}" class="t2b-breadcrumb-a">Home</a>
            </li>
            <li class="breadcrumb-item active">Privacy Policy</li>
        </ol>

        <!-- Image Header -->
        <img class="img-fluid rounded mb-4" src="{% static 'images/wenhao.jpg' %}" alt="">
    </div>

    <div class ="container t2b-bg-light p-3">
      <div class = "row p-5">
        <h3 class = "t2b-font-serif font-weight-bold">
          Privacy Policy
        </h3>
        <p class ="lead text-justify">
          www.type2beat.live, our website is owned and operated by the Delta Technology House, Prince Dogra, Jinxin Zhang and Jinpei Lu, the University of Monash ("we", "us", "our").
        </p>
        <p class ="lead text-justify">
          We are committed to protecting and respecting your privacy and this Privacy Policy (together with our Terms and Conditions and any other documents referred to therein) sets out how we process the personal data of each visitor and customer (resident in Australia) to the Sites, where such personal data is provided to us through any of the Sites, via email communication. Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it.
        </p>
        <p class ="lead text-justify">
          If you have any questions about this Privacy Policy, please contact <a class ="text-danger strong">type2beat.au@gmail.com</a>. We may amend this Privacy Policy at any time. All changes we make will be posted on this page and you will be notified of any changes by email and within our Sites and services. Your continued use of the Website, our Sites and our services after posting and receiving the update notice will constitute your acceptance of, and agreement to, any changes.
        </p>

      <br>

      <h4 class ="t2b-font-serif font-weight-bold">
          1. What is Personally Identifiable Information (PII) / Personal Data?
      </h4>
      <p class ="lead text-justify">
          Personal data or PII means any information relating to a person who can be identified either directly or indirectly by that information; it may include name address, email address, phone number, credit / debit card number, IP address, location data, purchase history (“Personal Data”).
      </p>

      <br>
      <div>
        <h4 class ="t2b-font-serif font-weight-bold">
          2. Information We May Collect From You
        </h4>

        <ul class ="list-unstyled">
          <li class ="lead text-justify">Information you provide to us – This includes:</li>
          <ul>
              <li class ="lead text-justify">Information provided at the time of registering to use our Sites, or use of our services, or requesting further services. We may also ask you for information when you report a problem with our Sites or regarding the services provided by us.</li>
              <li class ="lead text-justify">When you use the functionality of the record medical report, we will record your personal information in our API, This information includes your 2-h plasma glucose, fasting plasma glucose, and hbA1c.</li>
              <li class ="lead text-justify">If you contact us, we may keep a record of that correspondence and/or any video or audio uploads or telephone calls.</li>
          </ul>
        </ul>
      </div>
      </ul>
      <br>
      <div>
        <h4 class ="t2b-font-serif font-weight-bold">
          3. Purpose For Which We Process Personal Data
        </h4>
        <ul class ="list-unstyled">
          <li class ="lead text-justify">
            We will only process your Personal Data, in accordance with applicable law, for the following purposes:
          </li>
          <ul>
            <li class ="lead text-justify">
              <a class ="text-info">Creating and maintaining your customer account</a>, if you become a registered customer with us;
            </li>
            <li class ="lead text-justify">
              <a class ="text-info">Handling and fulfilling your requests</a>, if you request services from us;
            </li>
            <li class ="lead text-justify">
              <a class ="text-info">As part of our efforts to keep the Sites safe and secure;</a> and
            </li>
            <li class ="lead text-justify">
              <a class ="text-info">To comply with applicable law</a>, for example, in response to a request from a court or regulatory body, where such request is made in accordance with the law.
            </li>
          </ul>
        </ul>
      </div>

      <br>
      <div>
        <h4 class ="t2b-font-serif font-weight-bold">
          4. Contact
        </h4>
        <p class ="lead text-justify">
          Questions, comments and requests regarding this Privacy Policy are welcomed and should be addressed to <a class ="text-danger strong">type2beat.au@gmail.com</a>.
        </p>
      </div>
    </div>
    <br>
</header>
{% endblock header %}
